# Drawing Conclusions Quiz
Use the space below to explore `store_data.csv` to answer the quiz questions below.

In [ ]:
# Do your analysis and answer the following (type your answers !! do not throw the code in there and submit the file)

# Which store has the highest total sales for the final month of data? storeA
# Which store makes the most sales on average? storeB
# Which store sells the most during the week of March 13th, 2016? storeD
# In what week does store C make its worst sales? 6/7/2014
# Which store has the most sales in the latest 3-month period? storeA
# What is the most consistent store in sales ? storeD
# Given the information you gathered, what do you think is the best store financially? storeA

In [1]:
# import and load the data
import pandas as pd
df = pd.read_csv('store_data.csv')
df

           week  storeA  storeB  storeC  storeD  storeE
0    2014-05-04    2643    8257    3893    6231    1294
1    2014-05-11    6444    5736    5634    7092    2907
2    2014-05-18    9646    2552    4253    5447    4736
3    2014-05-25    5960   10740    8264    6063     949
4    2014-06-01    7412    7374    3208    3985    3023
..          ...     ...     ...     ...     ...     ...
195  2018-01-28     282    6351    7759    5558    1028
196  2018-02-04    4853    6503    4187    5956    1458
197  2018-02-11    9202    3677    4540    6186     243
198  2018-02-18    3512    7511    4151    5596    3501
199  2018-02-25    7560    6904    3569    5045    2585

[200 rows x 6 columns]

In [2]:
# explore the data (gather as much information as you can)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   week    200 non-null    object
 1   storeA  200 non-null    int64
 2   storeB  200 non-null    int64
 3   storeC  200 non-null    int64
 4   storeD  200 non-null    int64
 5   storeE  200 non-null    int64
dtypes: int64(5), object(1)
memory usage: 9.5+ KB

In [3]:
# clean the data
sum(df.duplicated())

0

In [4]:
# total sales for the last month
df.tail(4).sum()

week      2018-02-042018-02-112018-02-182018-02-25
storeA                                       25127
storeB                                       24595
storeC                                       16447
storeD                                       22783
storeE                                        7787
dtype: object

In [8]:
# average sales
df.mean()

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_108932\1214937871.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

storeA    5865.480
storeB    6756.710
storeC    4942.105
storeD    5431.405
storeE    2580.025
dtype: float64

In [11]:
# sales on march 13, 2016
df.loc[97]

week      2016-03-13
storeA          2054
storeB          1390
storeC          5112
storeD          5513
storeE          2536
Name: 97, dtype: object

In [14]:
# worst week for store C
df['storeC'].min()

927

In [15]:
# total sales during most recent 3 month period
df.tail(13).sum()

week      2017-12-032017-12-102017-12-172017-12-242017-1...
storeA                                                87591
storeB                                                79394
storeC                                                66538
storeD                                                75190
storeE                                                27334
dtype: object

In [ ]:
# Go back to the top and answer the questions
df.tail(13).sum()